.width {
  overflow: hidden;
  height: 250px;
  width: 100%;
}

.img-gallery {
  width: 100%;
  overflow: hidden;
  border: 4px solid rgb(227, 53, 53);
}
.img-gallery img {
  -o-object-fit: cover;
     object-fit: cover;
}

.img-gallery:hover img {
  transform: scale(1.2);
  transition: 2s;
}

body {
  font-family: "Lora", serif;
  font-family: "Roboto Slab", serif;
}

.red {
  color: #E31E25;
}

.bg-red {
  background-color: #E31E25;
}

.light-red, .bg-light-red {
  background-color: rgba(227, 30, 37, 0.1);
}

header {
  position: relative;
  box-shadow: 0px 7px 15px 0px rgba(128, 128, 128, 0.1490196078);
  background-color: white;
  z-index: 999999;
  box-shadow: rgba(227, 30, 37, 0.06);
  padding: 10px;
}
header nav .nav-brand {
  font-size: 1rem;
  line-height: 0.3;
}
header nav .nav li {
  margin-right: -14px;
}
header nav .nav li a {
  font-size: 0.9rem;
  color: #E31E25;
}
header nav .nav li a i {
  color: #E31E25;
}
header nav .nav li a:hover {
  color: rgba(227, 30, 37, 0.1);
}

.logo-img {
  width: 49px;
  margin-right: -68px;
}

section video {
  width: 100%;
}
section .hero-banner {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
section .hero-content {
  top: 0;
  height: 100%;
  background: linear-gradient(233deg, rgba(255, 0, 0, 0.4784313725), rgba(0, 0, 0, 0.9411764706));
}
section .hero-content .content {
  margin-top: 70px;
  padding-left: 5.5rem;
  line-height: 21px;
  width: 50%;
}
section .head-title-v1 > h3 {
  margin-top: 30px;
  font-size: 1.8rem;
  font-weight: 500;
}

.bg-img {
  background-image: url(https://claims.vehiclecare.in/assets/images/bg1.png);
  background-position: center;
  background-size: cover;
}

.tag-items ul {
  width: 90%;
  margin: 0 auto;
  overflow-x: scroll;
}
.tag-items ul li {
  list-style-type: none;
  border: 1px solid #E31E25;
  border-radius: 4px;
  margin-right: 1rem;
}
.tag-items ul li .tags {
  width: 174px;
  max-width: 100%;
}
.tag-items ul::-webkit-scrollbar {
  width: 4%;
  height: 4px;
}
.tag-items ul::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  display: none;
}
.tag-items ul::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

.footer-menu a {
  font-size: 0.7rem;
}

.facebook i, .whatsapp i, .youtube i {
  text-align: center;
  padding: 1rem;
  background: blue;
  font-size: 1rem;
  border-radius: 12px;
  width: auto;
  color: white;
}

.whatsapp i {
  background: green;
  color: white;
}

.youtube i {
  background: red;
  color: white;
}

.wheel-animate img {
  width: 140px;
  position: absolute;
  top: 248px;
  right: 257px;
}

.tags img {
  width: 31px;
  height: 35px;
}

.tags span {
  font-size: 0.8rem;
}

.oldcars .product-card {
  width: 287px !important;
}
.oldcars .product-card .product-details {
  font-size: 12px;
}

.w-widget {
  width: 60px;
  position: fixed;
  right: 10px;
  bottom: 27px;
}

.slot {
  box-shadow: 0px 6px 5px -5px rgba(128, 128, 128, 0.168627451);
  background-color: #FFFFFF;
  border-radius: 10px;
  text-align: center;
}
.slot .slot-icon img {
  width: 70px;
  margin-bottom: 14px;
}
.slot .slot-title h4 {
  font-size: 1.3rem;
}
.slot .slotDetails, .slot .slot-title {
  color: black;
}

.table-responsive {
  height: 300px;
}
.table-responsive .table {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.table-responsive::-webkit-scrollbar {
  width: 4%;
  height: 4px;
}

.table-responsive::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

.contact-slot {
  left: 0;
  right: 0;
  width: 80%;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.17);
  border-radius: 4px;
  bottom: -31px;
}

ul::-webkit-scrollbar {
  width: 4%;
  height: 4px;
  display: none;
}

ul::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

select {
  padding: 2px;
  border: 1px solid #E31E25;
  color: #E31E25;
  border-radius: 4px;
}

ul::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

.product-catalouge {
  overflow-x: scroll;
  list-style-type: none;
}
.product-catalouge li {
  width: 100%;
  margin-right: 1rem;
}
.product-catalouge li .product-card {
  background: #FFFFFF;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  width: 220px;
  border-bottom: 2px solid rgba(227, 30, 37, 0.1);
}
.product-catalouge li .product-card .product-img img {
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 2px solid #E31E25;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.product-catalouge li .product-card .product-details .title {
  font-size: 1rem;
}

.offerCardSection::-webkit-scrollbar, .offer-table::-webkit-scrollbar {
  display: none;
}

.offerCardSection {
  overflow-x: scroll;
  width: 100%;
}
.offerCardSection ul {
  list-style: none;
  display: table;
  padding-left: 0px;
}
.offerCardSection ul li {
  display: inline-block;
  text-align: center;
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.1607843137);
  line-height: 0 !important;
  display: table-cell;
}
.offerCardSection ul li a {
  text-decoration: none;
  color: black;
}
.offerCardSection ul li a .offercard {
  width: 130px;
}
.offerCardSection ul li a .offerTitle .title {
  font-size: 0.8rem !important;
}
.offerCardSection ul li a .offerdescription {
  line-height: 1;
  font-size: 0.6rem;
}
.offerCardSection ul li a .offerCardControl {
  display: none;
}
.offerCardSection ul li:hover {
  box-shadow: 0px 5px 10px 1px rgba(128, 128, 128, 0.17);
  transition: 0.3s ease-in;
  background: linear-gradient(25deg, rgba(255, 0, 0, 0.768627451), rgba(255, 0, 0, 0));
  color: white;
  transform: scale(1.1);
}
.offerCardSection ul li:hover .offerCardControl {
  display: block;
  transition: 0.3s;
}
.offerCardSection ul li:hover .offerdescription {
  color: white;
}

.offer-table {
  overflow-y: auto;
  border-radius: 13px;
}

nav .nav-link {
  color: black;
}
nav .nav-link:hover {
  border: none;
  color: rgba(227, 30, 37, 0.1);
}
nav .nav-link.active {
  background-color: #E31E25 !important;
  color: white !important;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.37);
}
nav bottom.nav-link {
  color: black;
}

.fetured-banner {
  border-radius: 12px;
  margin-bottom: 1rem;
  border-radius: 12px;
  margin-bottom: 1rem;
  height: 114px;
  -o-object-fit: cover;
     object-fit: cover;
}

.table-area .table-responsive {
  height: 500px;
}

.menu-icon {
  display: none;
}

.profile-card iframe {
  border-radius: 4px;
}

.profile-card {
  width: 255px;
}
.profile-card .profileImage img {
  border-radius: 4px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile-card .profile-details {
  border-bottom: 2px solid rgba(227, 30, 37, 0.1);
  background-color: white;
  width: 90%;
  left: 0;
  right: 0;
  border-radius: 4px;
  bottom: 8px;
  box-shadow: rgb(217, 217, 217);
  font-size: 0.7rem;
  line-height: 0;
}
.profile-card .badge {
  top: 5px;
  right: 5px;
}

.reviews {
  width: 400px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.07);
}
.reviews .userIcon img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 50%;
  margin-right: 13px;
}
.reviews .quots {
  font-size: 0.7rem;
}
.reviews .quots-img {
  width: 17px;
}

.form-area {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
}

.desktop {
  display: block;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slot:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}

.dave {
  position: absolute;
  width: 423px;
  height: 75px;
  background: #E31E25;
  top: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: -1;
}

iframe {
  width: 100%;
  height: 350px;
  border-radius: 4px;
  border: 3px solid #E31E25;
}

* {
  box-sizing: border-box;
}

.img-comp-container {
  position: relative;
  height: 200px; /*should be the same height as the images*/
  -o-object-fit: cover;
     object-fit: cover;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}

.offer-table img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  border: 3px solid white;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #E31E25;
  opacity: 0.7;
  border-radius: 50%;
}

.compare-block .img-comp-container {
  width: 293px;
}

.wrap span {
  color: #E31E25;
}

.inSlot-contact a, .offerCardSection a {
  pointer-events: none;
}

.article-img {
  width: 60%;
}

.contact-snack a {
  font-size: 0.9rem !important;
}

@media (max-width: 767px) {
  .snackbar-area {
    display: none !important;
  }
  .animate-1, .slotMain {
    -webkit-animation: none !important;
            animation: none !important;
  }
  .hide {
    display: none;
  }
  .drop {
    width: 100px;
    height: 5px;
    background: rgba(255, 255, 255, 0.6196078431);
    border-radius: 13px;
    position: absolute;
    top: 0;
    left: 129px;
    right: 50%;
  }
  .snackbar-area {
    bottom: 62px;
    left: 37px;
    padding: 10px;
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    height: 100%;
    width: 100;
    top: 151px;
    right: 0;
    left: 0 !important;
    padding-top: 40px;
    z-index: 9999;
  }
  .product-catalouge li {
    width: auto;
    margin-right: 1rem;
  }
  .snackbar-area {
    bottom: 62px;
    left: 0px !important;
    right: 0px;
  }
  .article-img {
    width: 100%;
  }
  .inSlot-section {
    display: block !important;
  }
  .inSlot-section .slotMain {
    width: 50%;
    float: left;
    margin: 0px 0px 5px 0px;
    padding: 2px;
  }
  .inSlot-section .inSlot {
    display: block !important;
    width: 100%;
    float: left;
    text-align: center;
  }
  .inSlot-section .inSlot div {
    display: block !important;
  }
  .inSlot-details .title {
    width: 100% !important;
    font-size: 0.6rem;
    margin-top: 13px;
  }
  .inSlot-icon img {
    margin-right: 0px !important;
  }
  .offer-table:focus {
    transform: scale(1.3);
    scroll-behavior: smooth;
  }
  .menu-icon {
    display: block;
    position: absolute;
    right: 15px;
    top: 22px;
    color: #E31E25;
  }
  .active {
    display: block !important;
  }
  .dave {
    display: none;
  }
  header nav .nav li a {
    font-size: 0.9rem;
    color: black;
  }
  header .nav-menu {
    border-top: 1px solid #E31E25;
    margin-top: 6px;
    background-color: white;
    display: none;
    position: absolute;
    width: 100%;
    right: 0;
  }
  header .nav-menu ul {
    padding: 0;
    display: block;
  }
  header .nav-menu ul li {
    display: block;
  }
  header .logo {
    justify-content: flex-start !important;
  }
  header .logo img {
    margin-right: 1rem;
  }
  section .hero-content .content {
    width: 100%;
  }
  section .hero-content .content {
    margin-top: 70px;
    padding-left: 1rem;
    line-height: 21px;
    width: 100%;
  }
  article nav {
    overflow-x: scroll;
  }
  .nav.nav-tabs {
    width: 175%;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    height: 550px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .slot-title h4 {
    font-size: 0.9rem !important;
  }
  .slotMain {
    margin-right: 0;
  }
}
.text-decoration-none {
  color: black;
}

.inSlot-contact a {
  font-size: 0.8rem;
}

.bg-1 {
  background-color: rgba(0, 152, 158, 0.14);
}

.bg-2 {
  background-color: rgba(255, 251, 154, 0.14);
}

.bg-3 {
  background-color: rgba(36, 77, 157, 0.14);
}

.bg-4 {
  background-color: rgba(197, 40, 31, 0.14);
}

.bg-5 {
  background-color: rgba(64, 55, 146, 0.1411764706);
}

.bg-6 {
  background-color: rgba(64, 55, 146, 0.1411764706);
}

.bg-7 {
  background-color: #FFFFFF;
  border: 1px solid rgba(128, 128, 128, 0.2117647059);
}

.bg-8 {
  background-color: rgba(8, 63, 136, 0.1411764706);
}

.bg-9 {
  background-color: rgba(75, 73, 104, 0.14);
}

.bg-10 {
  background-color: rgba(0, 57, 116, 0.1411764706);
}

.bg-11 {
  background-color: rgba(0, 57, 116, 0.1411764706);
}

.bg-12 {
  background-color: rgba(160, 42, 127, 0.1411764706);
}

.bg-13 {
  background-color: rgba(245, 114, 24, 0.1411764706);
}

.bg-14 {
  background-color: rgba(30, 0, 116, 0.1411764706);
}

.bg-15 {
  background-color: rgba(238, 49, 55, 0.1411764706);
}

.bg-16 {
  background-color: rgba(0, 105, 227, 0.1411764706);
}

.bg-17 {
  background-color: rgba(46, 49, 146, 0.1411764706);
}

.bg-18 {
  background-color: rgba(22, 73, 142, 0.1411764706);
}

.bg-19 {
  background-color: rgba(2, 164, 78, 0.1411764706);
}

.bg-20 {
  background-color: rgba(128, 26, 126, 0.1411764706);
}

.bg-21 {
  background-color: rgba(27, 149, 196, 0.1411764706);
}

.inSlot-section {
  overflow-x: scroll;
}

.snackbar-area {
  bottom: 62px;
  left: 37px;
}

.snackbar-icon img {
  width: 100px !important;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 97px;
  -o-object-fit: cover;
     object-fit: cover;
}

.close {
  right: 12px;
  top: 6px;
}

.snbackbar-items {
  background: white;
  border-radius: 12px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.17);
  -webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
}

.slotMain {
  margin-right: 1rem;
}

.snackbar-details a {
  font-size: 0.7rem;
}

.inSlot-details .title {
  width: 227px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 800;
  font-size: 0.7rem;
}

.info {
  position: absolute;
  top: 6px;
  right: 26px;
  color: black;
}

.inSlot-section::-webkit-scrollbar {
  width: 4%;
  height: 4px;
  background-color: rgba(128, 128, 128, 0.1490196078);
}

.service-img {
  transform: scale(1.2);
}

.article-img {
  width: 65%;
}

.service-img {
  transform: scale(1.2);
}

[list="/"] {
  display: none;
}

.navs {
  list-style: none;
  text-align: start;
}
.navs li {
  display: inline-block;
}

iframe {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1.2px solid rgba(227, 30, 37, 0.7882352941);
}/*# sourceMappingURL=style.css.map */