$color-red: #E31E25;
$color-light-red: rgba(227, 30, 37, 0.1);
$color-black:black;

.red{
    color:$color-red;
}
.bg-red{
    background-color: $color-red;
}
.light-red, .bg-light-red{
    background-color: $color-light-red;
}
header{
    position: relative;
    box-shadow: 0px 7px 15px 0px #80808026;
    background-color: white;
    z-index: 999999;
    box-shadow: rgba(227, 30, 37, 0.06);
    padding: 10px;
    nav{
        .nav-brand{
            font-size: 1rem;
            line-height: 0.3;
        }
        .nav{
            li{
                margin-right: -14px;
                a{
                    font-size: 0.9rem;
                    color: $color-red;
                    i{
                        color: $color-red;
                    }
                }
                a:hover{
                    color:$color-light-red;
                }
            }
        }
    }
}
section{
    video{
        width: 100%;
    }
    .hero-banner{
        height: 500px;
        object-fit: cover;
    }
    .hero-content{
        top: 0;
        height: 100%;
        background:#00000045;
        .content{
            margin-top: 70px;
            padding-left: 5.5rem;
            line-height: 21px;
            width: 50%;
        }
    }
}

.tag-items{
    ul{
        width: 90%;
        margin: 0 auto;
        overflow-x: scroll;
        li{
            list-style-type: none;
            border: 1px solid $color-red;
            border-radius: 4px;
            margin-right: 1rem;
            .tags{
                width: 160px;
                max-width: 100%;
            
            }
        }
    }
    ul::-webkit-scrollbar {
        width: 4%;
        height: 4px;
      }
    ul::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
      }
       
   
    ul::-webkit-scrollbar-thumb {
        background: gray; 
        border-radius: 10px;
    }
}

.slot{
    box-shadow: 0px 6px 5px -5px #8080802b;
    background-color: #FFFFFF;
    border-radius: 4px;
    .slot-icon img{
        width: 55px;
        margin-bottom: 14px;
    }
    .slot-title h4{
        font-size: 1.2rem;
    }
    .slotDetails, .slot-title{
        color: $color-black;
    }
}

.table-responsive{
    height: 300px;
    .table{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
    }
   
}
.table-responsive::-webkit-scrollbar {
    width: 4%;
    height: 4px;
  }
.table-responsive::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}


.table-responsive::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
}

.contact-slot{
    left: 0;
    right: 0;
    width: 80%;
    box-shadow: 0px 4px 11px rgb(0 0 0 / 17%);
    border-radius: 4px;
    bottom: -31px;
}
ul::-webkit-scrollbar {
    width: 4%;
    height: 4px;
  }
ul::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
select{
    padding: 2px;
    border: 1px solid #E31E25;
    color: #E31E25;
    border-radius: 4px;
}

ul::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
}
.product-catalouge{
    overflow-x: scroll;
    list-style-type: none;
    li{
        width: 100%;
        margin-right:1rem;
        .product-card{
            background: #FFFFFF;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.03);
            border-radius: 4px;
            width: 160px;
            border-bottom: 2px solid $color-light-red;
            .product-img img{
                height: 150px;
                object-fit: cover;
                border-bottom: 2px solid $color-red;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }
            .product-details{
              
                .title{
                    font-size: 1rem;
                }
            }
        }
    }
}
nav{
    .nav-link{
        color: black;
    }
    .nav-link:hover{
        border: none;
        color: $color-light-red;
    }
    .nav-link.active{
        background-color: $color-red !important;
        color: white !important;
        border-radius: 0;
        box-shadow: rgba(0, 0, 0, 0.37);
    }
    bottom.nav-link{
        color: $color-black;
    }
}
.table-area{
    .table-responsive{
        height: 500px;
    }
}

.menu-icon{
    display: none;
}

.profile-card {
    width: 255px;
    .profileImage img{
        border-radius: 4px;
    }
    .profile-details{
        border-bottom: 2px solid $color-light-red;
        background-color: white;
        width: 90%;
        left: 0;
        right: 0;
        border-radius: 4px;
        bottom: 8px;
        box-shadow: rgba(217, 217, 217, 1);
    }
    .badge{
        top: 5px;
        right: 5px;
    }
}


.reviews{
    width: 280px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.07);
    border-bottom: 3px solid red;
    .userIcon img{
        object-fit: cover;
        width: 42px;
        border-radius: 50%;
        height: 41px;
        margin-right: 13px;
    }
}

.form-area{
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.09);
    border-radius: 4px;
}
.desktop{
    display: block;
    height: 500px;
    object-fit: cover;
}

.slot:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.dave{
    position: absolute;
    width: 423px;
    height: 75px;
    background: $color-red;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: -1;
}

iframe{
    width: 100%;
    height: 350px
}

// Compare Details
* {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  height: 200px; /*should be the same height as the images*/
  object-fit: cover;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow:hidden;
}

.img-comp-img img {
  display:block;
  vertical-align:middle;
  border-radius: 4px;
  object-fit: cover;
 
}

.img-comp-slider {
  position: absolute;
  z-index:9;
  border: 3px solid white;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: $color-red;
  opacity: 0.7;
  border-radius: 50%;
}
//

.compare-block{
    .img-comp-container{
        width: 293px;
    }
  
}

@media(max-width:767px){
    .menu-icon{
        display: block;
        position: absolute;
        right: 15px;
        top: 22px;
        color: #E31E25;
    }
    .active{
        display: block !important;
    }
    .dave{
        display: none;
    }
    header nav .nav li a {
        font-size: 0.9rem;
        color: black;
    }
    header{
        .nav-menu{
            border-top: 1px solid $color-red;
            margin-top: 6px;
            background-color: white;
            display: none;
            position: absolute;
            width: 100%;
            right: 0;
            ul{
                padding: 0;
                display: block;
                li{
                    display: block;
                }
            }
        }
        .logo{
            justify-content: flex-start !important;
            img{
                margin-right: 1rem;
            }
        }
    }
    section .hero-content .content{
        width: 100%;
    }
    section .hero-content .content {
        margin-top: 70px;
        padding-left: 1rem;
        line-height: 21px;
        width: 100%;
    }
    article nav{
        overflow-x: scroll;
    }
    .nav.nav-tabs{
        width: 175%;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
        height: 550px;
        object-fit: cover;
    }
    .slot-title h4{
        font-size: 0.9rem !important;
    }
}