$color-red: #E31E25;
$color-light-red: rgba(227, 30, 37, 0.1);
$color-black:black;
$color-white:white;
$color-01:rgba(0, 152, 158, 0.14);
$color-02:rgba(255, 251, 154, 0.14);
$color-03:rgba(36, 77, 157, 0.14);
$color-04:rgba(197, 40, 31, 0.14);
$color-05:#40379224;
$color-06:#40379224;
$color-07:#FFFFFF;
$color-08:#083F8824;
$color-09:rgba(75, 73, 104, 0.14);
$color-10:#00397424;
$color-11:#00397424;
$color-12:#A02A7F24;
$color-13:#F5721824;
$color-14:#1E007424;
$color-15:#EE313724;
$color-16:#0069E324;
$color-17:#2E319224;
$color-18:#16498E24;
$color-19:#02A44E24;
$color-20:#801A7E24;
$color-21:#1B95C424;


.width{
    overflow: hidden;
    height: 250px;
    width: 100%;
}
.img-gallery{
    width: 100%;
    overflow: hidden;
    border: 4px solid rgb(227, 53, 53);
    img{
        object-fit: cover;
    }
}
.img-gallery:hover img{
    transform: scale(1.2);
    transition: 2s;
}
body{
    font-family: 'Lora', serif;
    font-family: 'Roboto Slab', serif;
}
.red{
    color:$color-red;
}
.bg-red{
    background-color: $color-red;
}
.light-red, .bg-light-red{
    background-color: $color-light-red;
}
header{
    position: relative;
    box-shadow: 0px 7px 15px 0px #80808026;
    background-color: white;
    z-index: 999999;
    box-shadow: rgba(227, 30, 37, 0.06);
    padding: 10px;
    nav{
        .nav-brand{
            font-size: 1rem;
            line-height: 0.3;
        }
        .nav{
            li{
                margin-right: -14px;
                a{
                    font-size: 0.9rem;
                    color: $color-red;
                    i{
                        color: $color-red;
                    }
                }
                a:hover{
                    color:$color-light-red;
                }
            }
        }
    }
}
.logo-img{
    width: 49px;
    margin-right: -68px;
}
section{
    video{
        width: 100%;
    }
    .hero-banner{
        height: 500px;
        object-fit: cover;
    }
    .hero-content{
        top: 0;
        height: 100%;
        background: linear-gradient(233deg, #ff00007a, #000000f0);
        .content{
            margin-top: 70px;
            padding-left: 5.5rem;
            line-height: 21px;
            width: 50%;
        }
    }
    .head-title-v1>h3{
        margin-top: 30px;
        font-size: 1.8rem;
        font-weight: 500;
    }
}
.bg-img{
    background-image: url(https://claims.vehiclecare.in/assets/images/bg1.png);
    background-position: center;
    background-size: cover;
}

.tag-items{
    ul{
        width: 90%;
        margin: 0 auto;
        overflow-x: scroll;
        li{
            list-style-type: none;
            border: 1px solid $color-red;
            border-radius: 4px;
            margin-right: 1rem;
            .tags{
                width: 174px;
                max-width: 100%;
            
            }
        }
    }
    ul::-webkit-scrollbar {
        width: 4%;
        height: 4px;
       
      }
    ul::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
        display: none;
      }
       
   
    ul::-webkit-scrollbar-thumb {
        background: gray; 
        border-radius: 10px;
    }
}
.footer-menu a{
    font-size: 0.7rem;
   
}
.facebook i,.whatsapp i, .youtube i{
    text-align: center;
    padding: 1rem;
    background: blue;
    font-size: 1rem;
    border-radius: 12px;
    width: auto;
    color: white;
}
.whatsapp i{
    background: green;
    color:white;
}
.youtube i{
    background: red;
    color:white;
}
.wheel-animate img{
    width: 140px;
    position: absolute;
    top: 248px;
    right: 257px;
}
.tags img{
    width: 31px;
    height: 35px;
}
.tags span{
    font-size: 0.8rem;
}
.oldcars{
    .product-card{
        width: 287px !important;
        .product-details{
            font-size: 12px;
        }
    }
}
.w-widget{
    width: 60px;
    position: fixed;
    right: 10px;
    bottom: 27px;
}
.slot{
    box-shadow: 0px 6px 5px -5px #8080802b;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    height: 270px;
    .slot-icon img{
        width: 70px;
        margin-bottom: 14px;
    }
    .slot-title h4{
        font-size: 1.3rem;
    }
    .slotDetails, .slot-title{
        color: $color-black;
    }
}

.table-responsive{
    height: 300px;
    .table{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
    }
   
}
.table-responsive::-webkit-scrollbar {
    width: 4%;
    height: 4px;
  }
.table-responsive::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}


.table-responsive::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
}

.contact-slot{
    left: 0;
    right: 0;
    width: 80%;
    box-shadow: 0px 4px 11px rgb(0 0 0 / 17%);
    border-radius: 4px;
    bottom: -31px;
}
ul::-webkit-scrollbar {
    width: 4%;
    height: 4px;
    display: none;
  }
ul::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
select{
    padding: 2px;
    border: 1px solid #E31E25;
    color: #E31E25;
    border-radius: 4px;
}

ul::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
}
.product-catalouge{
    overflow-x: scroll;
    list-style-type: none;
    li{
        width: 100%;
        margin-right:1rem;
        .product-card{
            background: #FFFFFF;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.03);
            border-radius: 4px;
            width: 220px;
            border-bottom: 2px solid $color-light-red;
            .product-img img{
                height: 150px;
                object-fit: cover;
                border-bottom: 2px solid $color-red;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }
            .product-details{
              
                .title{
                    font-size: 1rem;
                }
            }
        }
    }
}
.offerCardSection::-webkit-scrollbar, .offer-table::-webkit-scrollbar{
    display: none;
}
.offerCardSection{
    overflow-x: scroll;
    width: 100%;
    ul{
        list-style: none;
        display: table;
        padding-left: 0px;
        li{
            display: inline-block;
            text-align: center;
            padding: 10px;
            border: 1px solid #80808029;
            line-height: 0!important;
            display: table-cell;
            a{
                text-decoration: none;
                color: $color-black;
                .offercard{
                    width: 130px;
                   
                }
                .offerTitle .title{
                    font-size: 0.8rem !important;
                }
                .offerdescription{
                    line-height: 1;
                    font-size: 0.6rem;
                }
                .offerCardControl{
                    display: none;
                }
            }
        }
        li:hover{
            box-shadow: 0px 5px 10px 1px rgb(128 128 128 / 17%);
            transition: 0.3s ease-in;
            background: linear-gradient(25deg, #ff0000c4, #f000);
            color:white;
            transform: scale(1.1);
        }
        li:hover .offerCardControl{
            display: block;
            transition: 0.3s;
        }
        li:hover .offerdescription{
            color: white;
        }
    }
}
.offer-table{
    overflow-y: auto;
    border-radius: 13px;
}
nav{
    .nav-link{
        color: black;
    }
    .nav-link:hover{
        border: none;
        color: $color-light-red;
    }
    .nav-link.active{
        background-color: $color-red !important;
        color: white !important;
        border-radius: 0;
        box-shadow: rgba(0, 0, 0, 0.37);
    }
    bottom.nav-link{
        color: $color-black;
    }
}
.fetured-banner{
    border-radius: 12px;
    margin-bottom: 1rem;
    border-radius: 12px;
    margin-bottom: 1rem;
    height: 114px;
    object-fit: cover;
}
.table-area{
    .table-responsive{
        height: 500px;
    }
}

.menu-icon{
    display: none;
}

.profile-card{
    iframe{
        border-radius: 4px;
    }
}

.profile-card {
    width: 255px;
    .profileImage img{
        border-radius: 4px;
        height: 260px;
        object-fit: cover;
    }
    .profile-details{
        border-bottom: 2px solid rgba(227, 30, 37, 0.1);
        background-color: white;
        width: 90%;
        left: 0;
        right: 0;
        border-radius: 4px;
        bottom: 8px;
        box-shadow: rgb(217, 217, 217);
        font-size: 0.7rem;
        line-height: 0;
    }
    .badge{
        top: 5px;
        right: 5px;
    }
}


.reviews{
    width: 400px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.07);
    .userIcon img{
        object-fit: cover;
        width: 100%;
        border-radius: 50%;
        margin-right: 13px;
    }
    .quots{
        font-size: 0.7rem;
    }
    .quots-img{
        width: 17px;
    }
}

.form-area{
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.09);
    border-radius: 4px;
}
.desktop{
    display: block;
    height: 500px;
    object-fit: cover;
}

.slot:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.dave{
    position: absolute;
    width: 423px;
    height: 75px;
    background: $color-red;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: -1;
}

iframe{
    width: 100%;
    height: 350px;
    border-radius: 4px;
    border: 3px solid $color-red;
}

// Compare Details
* {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  height: 200px; /*should be the same height as the images*/
  object-fit: cover;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow:hidden;
}

.img-comp-img img {
  display:block;
  border-radius: 4px;
  object-fit: cover;
 
}
.offer-table img{
    height: 131%;
    width: 100%;
    object-fit: cover;
}
.img-comp-slider {
  position: absolute;
  z-index:9;
  border: 3px solid white;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: $color-red;
  opacity: 0.7;
  border-radius: 50%;
}
//

.compare-block{
    .img-comp-container{
        width: 293px;
    }
  
}
.wrap span{
    color: #E31E25;
}
.inSlot-contact a, .offerCardSection a{
    pointer-events: none;
}
.article-img{
    width: 60%;
}
.contact-snack a{
    font-size: 0.9rem !important;
}
@media(max-width:767px){
    .wrap{
        flex-wrap: wrap;
    }
    .Uc2NEf {
        height: 550px;
    }
    .offercard{
        width: 150px;
    }
    .snackbar-area{
        display: none !important;
    }
    .slotMain{
        animation: none !important;
    }
    .hide{
        display: none;
    }
    .drop{
        width: 100px;
        height: 5px;
        background: #ffffff9e;
        border-radius: 13px;
        position: absolute;
        top: 0;
        left: 129px;
        right: 50%;
    }
    .snackbar-area{
        bottom: 62px;
        left: 37px;
        padding: 10px;
        backdrop-filter: blur(15px);
        height: 100%;
        width: 100;
        top: 151px;
        right: 0;
        left: 0 !important;
        padding-top: 40px;
        z-index: 9999;
    }
    .product-catalouge li {
        width: auto;
        margin-right: 1rem;
    }
    .snackbar-area {
        bottom: 62px;
        left: 0px !important;
        right: 0px;
    }
    .article-img{
        width: 100%;
    }
    .inSlot-section{
        display: block !important;
        .slotMain{
            width: 50%;
            float: left;
            margin: 0px 0px 5px 0px;
            padding: 2px;
        }
        .inSlot{
            display: block !important;
            width: 100%;
            float: left;
            text-align: center;
        }
        .inSlot div{
            display: block !important;
        }
    }
    .inSlot-details .title {
        width: 100% !important;
        font-size: 0.6rem;
        margin-top: 13px;
       
    }
    .inSlot-icon img{
        margin-right: 0px !important;
    } 
    .offer-table:focus{
        transform: scale(1.3);
        scroll-behavior: smooth;
    }
    .menu-icon{
        display: block;
        position: absolute;
        right: 15px;
        top: 22px;
        color: #E31E25;
    }
    .active{
        display: block !important;
    }
    .dave{
        display: none;
    }
    header nav .nav li a {
        font-size: 0.9rem;
        color: black;
    }
    header{
        .nav-menu{
            border-top: 1px solid $color-red;
            margin-top: 6px;
            background-color: white;
            display: none;
            position: absolute;
            width: 100%;
            right: 0;
            ul{
                padding: 0;
                display: block;
                li{
                    display: block;
                }
            }
        }
        .logo{
            justify-content: flex-start !important;
            img{
                margin-right: 1rem;
            }
        }
    }
    section .hero-content .content{
        width: 100%;
    }
    section .hero-content .content {
        margin-top: 70px;
        padding-left: 1rem;
        line-height: 21px;
        width: 100%;
    }
    article nav{
        overflow-x: scroll;
    }
    .nav.nav-tabs{
        width: 175%;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
        height: 550px;
        object-fit: cover;
    }
    .slot-title h4{
        font-size: 0.9rem !important;
    }
    .slotMain{
        margin-right: 0;
    }
}

.text-decoration-none{
    color:$color-black;
}
.inSlot-contact a{
    font-size: 0.8rem;
}

.bg-1{
    background-color:$color-01;
}
.bg-2{
    background-color:$color-02;
}
.bg-3{
    background-color:$color-03;
}

.bg-4{
    background-color:$color-04;
}

.bg-5{
    background-color:$color-05;
}
.bg-6{
    background-color:$color-06;
}
.bg-7{
    background-color:$color-07;
    border: 1px solid #80808036;
}

.bg-8{
    background-color:$color-08;
}

.bg-9{
    background-color:$color-09;
}

.bg-10{
    background-color:$color-10;
}

.bg-11{
    background-color:$color-11;
}

.bg-12{
    background-color:$color-12;
}

.bg-13{
    background-color:$color-13;
}

.bg-14{
    background-color:$color-14;
}

.bg-15{
    background-color:$color-15;
}

.bg-16{
    background-color:$color-16;
}

.bg-17{
    background-color:$color-17;
}

.bg-18{
    background-color:$color-18;
}
.bg-19{
    background-color:$color-19;
}

.bg-20{
    background-color:$color-20;
}

.bg-21{
    background-color:$color-21;
}

.inSlot-section{
    overflow-x: scroll;
    
}

.snackbar-area{
    bottom: 62px;
    left: 37px;
}
.snackbar-icon img{
    width: 100px !important;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 97px;
    object-fit: cover;
}
.close{
    right: 12px;
    top: 6px;
}
.snbackbar-items{
    background: white;
    border-radius: 12px;
   margin-bottom: 10px;
   box-shadow: 0px 4px 11px rgb(0 0 0 / 17%);
   backface-visibility: visible !important;
 
}
.slotMain{
    margin-right: 1rem;
}
.snackbar-details a{
    font-size: 0.7rem;
}
.inSlot-details .title{
    width: 227px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 800;
    font-size: 0.7rem;  
}


 .info{
    position: absolute;
    top: 6px;
    right: 26px;
    color: black;
 }


.inSlot-section::-webkit-scrollbar {
    width: 4%;
    height: 4px;
    background-color: #80808026;
  }
.service-img{
    transform: scale(1.2);
}

.article-img{
    width: 65%;
}
.service-img{
    transform: scale(1.2);
}
[list = '/']{
    display: none;
}
.navs{
    list-style: none;
    text-align: start;
    li{
        display: inline-block;
        line-height: 25px;
       
    }
}
iframe {
    width: 100%;
    border-radius: 14px;
    border: 1.2px solid rgba(227, 30, 37, 0.7882352941);
    object-fit: fill;
    box-shadow: 11px 38px 47px 0px #e31e2538;
}
