body {
  font-family: "Lora", serif;
  font-family: "Roboto Slab", serif;
}

.red {
  color: #E31E25;
}

.bg-red {
  background-color: #E31E25;
}

.light-red, .bg-light-red {
  background-color: rgba(227, 30, 37, 0.1);
}

header {
  position: relative;
  box-shadow: 0px 7px 15px 0px rgba(128, 128, 128, 0.1490196078);
  background-color: white;
  z-index: 999999;
  box-shadow: rgba(227, 30, 37, 0.06);
  padding: 10px;
}
header nav .nav-brand {
  font-size: 1rem;
  line-height: 0.3;
}
header nav .nav li {
  margin-right: -14px;
}
header nav .nav li a {
  font-size: 0.9rem;
  color: #E31E25;
}
header nav .nav li a i {
  color: #E31E25;
}
header nav .nav li a:hover {
  color: rgba(227, 30, 37, 0.1);
}

section video {
  width: 100%;
}
section .hero-banner {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
section .hero-content {
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.2705882353);
}
section .hero-content .content {
  margin-top: 70px;
  padding-left: 5.5rem;
  line-height: 21px;
  width: 50%;
}
section .head-title-v1 > h3 {
  margin-top: 30px;
  font-size: 1.8rem;
  font-weight: 500;
}

.bg-img {
  background-image: url(https://claims.vehiclecare.in/assets/images/bg1.png);
  background-position: center;
  background-size: cover;
}

.tag-items ul {
  width: 90%;
  margin: 0 auto;
  overflow-x: scroll;
}
.tag-items ul li {
  list-style-type: none;
  border: 1px solid #E31E25;
  border-radius: 4px;
  margin-right: 1rem;
}
.tag-items ul li .tags {
  width: 160px;
  max-width: 100%;
}
.tag-items ul::-webkit-scrollbar {
  width: 4%;
  height: 4px;
}
.tag-items ul::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  display: none;
}
.tag-items ul::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

.oldcars .product-card {
  width: 287px !important;
}
.oldcars .product-card .product-details {
  font-size: 12px;
}

.w-widget {
  width: 60px;
  position: fixed;
  right: 54px;
  bottom: 27px;
}

.slot {
  box-shadow: 0px 6px 5px -5px rgba(128, 128, 128, 0.168627451);
  background-color: #FFFFFF;
  border-radius: 10px;
  text-align: center;
}
.slot .slot-icon img {
  width: 70px;
  margin-bottom: 14px;
}
.slot .slot-title h4 {
  font-size: 1.3rem;
}
.slot .slotDetails, .slot .slot-title {
  color: black;
}

.table-responsive {
  height: 300px;
}
.table-responsive .table {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.table-responsive::-webkit-scrollbar {
  width: 4%;
  height: 4px;
}

.table-responsive::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

.contact-slot {
  left: 0;
  right: 0;
  width: 80%;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.17);
  border-radius: 4px;
  bottom: -31px;
}

ul::-webkit-scrollbar {
  width: 4%;
  height: 4px;
}

ul::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

select {
  padding: 2px;
  border: 1px solid #E31E25;
  color: #E31E25;
  border-radius: 4px;
}

ul::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

.product-catalouge {
  overflow-x: scroll;
  list-style-type: none;
}
.product-catalouge li {
  width: 100%;
  margin-right: 1rem;
}
.product-catalouge li .product-card {
  background: #FFFFFF;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  width: 160px;
  border-bottom: 2px solid rgba(227, 30, 37, 0.1);
}
.product-catalouge li .product-card .product-img img {
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 2px solid #E31E25;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.product-catalouge li .product-card .product-details .title {
  font-size: 1rem;
}

nav .nav-link {
  color: black;
}
nav .nav-link:hover {
  border: none;
  color: rgba(227, 30, 37, 0.1);
}
nav .nav-link.active {
  background-color: #E31E25 !important;
  color: white !important;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.37);
}
nav bottom.nav-link {
  color: black;
}

.table-area .table-responsive {
  height: 500px;
}

.menu-icon {
  display: none;
}

.profile-card iframe {
  border-radius: 4px;
}

.profile-card {
  width: 255px;
}
.profile-card .profileImage img {
  border-radius: 4px;
}
.profile-card .profile-details {
  border-bottom: 2px solid rgba(227, 30, 37, 0.1);
  background-color: white;
  width: 90%;
  left: 0;
  right: 0;
  border-radius: 4px;
  bottom: 8px;
  box-shadow: rgb(217, 217, 217);
}
.profile-card .badge {
  top: 5px;
  right: 5px;
}

.reviews {
  width: 280px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.07);
  border-bottom: 3px solid red;
}
.reviews .userIcon img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 42px;
  border-radius: 50%;
  height: 41px;
  margin-right: 13px;
}

.form-area {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
}

.desktop {
  display: block;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slot:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}

.dave {
  position: absolute;
  width: 423px;
  height: 75px;
  background: #E31E25;
  top: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: -1;
}

iframe {
  width: 100%;
  height: 350px;
  border-radius: 4px;
  border: 3px solid #E31E25;
}

* {
  box-sizing: border-box;
}

.img-comp-container {
  position: relative;
  height: 200px; /*should be the same height as the images*/
  -o-object-fit: cover;
     object-fit: cover;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  border: 3px solid white;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #E31E25;
  opacity: 0.7;
  border-radius: 50%;
}

.compare-block .img-comp-container {
  width: 293px;
}

.wrap span {
  color: #E31E25;
}

@media (max-width: 767px) {
  .menu-icon {
    display: block;
    position: absolute;
    right: 15px;
    top: 22px;
    color: #E31E25;
  }
  .active {
    display: block !important;
  }
  .dave {
    display: none;
  }
  header nav .nav li a {
    font-size: 0.9rem;
    color: black;
  }
  header .nav-menu {
    border-top: 1px solid #E31E25;
    margin-top: 6px;
    background-color: white;
    display: none;
    position: absolute;
    width: 100%;
    right: 0;
  }
  header .nav-menu ul {
    padding: 0;
    display: block;
  }
  header .nav-menu ul li {
    display: block;
  }
  header .logo {
    justify-content: flex-start !important;
  }
  header .logo img {
    margin-right: 1rem;
  }
  section .hero-content .content {
    width: 100%;
  }
  section .hero-content .content {
    margin-top: 70px;
    padding-left: 1rem;
    line-height: 21px;
    width: 100%;
  }
  article nav {
    overflow-x: scroll;
  }
  .nav.nav-tabs {
    width: 175%;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    height: 550px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .slot-title h4 {
    font-size: 0.9rem !important;
  }
}
.text-decoration-none {
  color: black;
}

.inSlot-contact a {
  font-size: 0.8rem;
}

.bg-1 {
  background-color: rgba(0, 152, 158, 0.14);
}

.bg-2 {
  background-color: rgba(255, 251, 154, 0.14);
}

.bg-3 {
  background-color: rgba(36, 77, 157, 0.14);
}

.bg-4 {
  background-color: rgba(197, 40, 31, 0.14);
}

.bg-5 {
  background-color: rgba(64, 55, 146, 0.1411764706);
}

.bg-6 {
  background-color: rgba(64, 55, 146, 0.1411764706);
}

.bg-7 {
  background-color: #FFFFFF;
  border: 1px solid rgba(128, 128, 128, 0.2117647059);
}

.bg-8 {
  background-color: rgba(8, 63, 136, 0.1411764706);
}

.bg-9 {
  background-color: rgba(75, 73, 104, 0.14);
}

.bg-10 {
  background-color: rgba(0, 57, 116, 0.1411764706);
}

.bg-11 {
  background-color: rgba(0, 57, 116, 0.1411764706);
}

.bg-12 {
  background-color: rgba(160, 42, 127, 0.1411764706);
}

.bg-13 {
  background-color: rgba(245, 114, 24, 0.1411764706);
}

.bg-14 {
  background-color: rgba(30, 0, 116, 0.1411764706);
}

.bg-15 {
  background-color: rgba(238, 49, 55, 0.1411764706);
}

.bg-16 {
  background-color: rgba(0, 105, 227, 0.1411764706);
}

.bg-17 {
  background-color: rgba(46, 49, 146, 0.1411764706);
}

.bg-18 {
  background-color: rgba(22, 73, 142, 0.1411764706);
}

.bg-19 {
  background-color: rgba(2, 164, 78, 0.1411764706);
}

.bg-20 {
  background-color: rgba(128, 26, 126, 0.1411764706);
}

.bg-21 {
  background-color: rgba(27, 149, 196, 0.1411764706);
}

.inSlot-details .title {
  width: 227px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 800;
}

.inSlot-section::-webkit-scrollbar {
  width: 4%;
  height: 4px;
  background-color: rgba(128, 128, 128, 0.1490196078);
}/*# sourceMappingURL=style.css.map */